@import "../../styles/_variables";

.Divider {
  background-color: $white;
  height: 8px;
  position: relative;
  @media #{$sm} {
    height: 4px;
  }
  .imageWrapper {
    @media #{$sm} {
      display: none;
    }
    width: 343px;
    height: 342px;
    padding-top: 141px;
    padding-right: 212px;
    position: absolute;
    top: -229px;
    .wrapper {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
